# Detector
transformers==4.57.1
timm
rfdetr==1.5.2
albumentations==1.4.24
albucore==0.0.23

# Tracking & annotation
supervision>=0.25.0

# Image processing
opencv-python==4.12.0.88

# Intel RealSense SDK
pyrealsense2==2.56.5.9235

# Daheng Imaging Galaxy SDK
gxipy

# GUI
PySide6

# PyTorch with CUDA 12.6 support
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision

# Windows-specific dependencies
pywin32

