

# Dataset
datasets

# Detector
transformers==4.57.1

# Image processing
opencv-python==4.12.0.88

# Intel RealSense SDK
pyrealsense2==2.56.5.9235

# Graphics and visualization
matplotlib==3.10.7

# GUI
PySide6

# PyTorch with CUDA 12.6 support
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision

# Windows-specific dependencies
pywin32

